<h1>Terrace Gardening</h1>

 <%= image_tag('terrace.jpg',alt: "terrace", id: "terrace") %>
 <div class="content">

<h2>What is Terrace Gardening?</h2>
<p>
            Terrace Gardening, also called a roof garden,is a garden in which vegetables, fruits or flowers are grown on terraces, balconies or roofs of buildings. 
            The kitchen garden, a standard in every Indian household, has now shifted to the roof due to constraints of space, and is called a terrace garden.

            <br>

<h2>Advantages of Terrace Gardening:</h2>
     <p>   Some of the benefits to health, aesthetics and environment include:

     <ul> 

<li>Reduce indoor temperature by 6- 8 degree and can reduce air conditioning cost </li>
<li>Reduce overall heat absorption of buildings and insulate the building against heat and cold </li>
<li>Convenience of safe, pesticide-free, healthy green and fresh vegetables </li>
<li>Conducive to a routine of physical exercise, clean air and being close to nature </li>
<li>Increases amount of oxygen in the air </li>
<li>Reduce sound pollution </li>
<li>Act as a habitat for city-weary birds </li>

</ul>
<br>

<h1><b>STEPS TO SET UP TERRACE GARDEN</b></h1>
<br>
<ol>
<li><b>PREPARE THE LAYOUT</b></li>
<br>
<%= image_tag('layout.jpg',alt: "img", id: "img") %>
<br>
<br>
There are 2 ways to set a terrace garden, either you can cover the entire surface with soil to convert it to a lawn or you can put plant pots and grow plants in them. 
As terraces have some space constraints as compared to a normal garden, planning the space usage accordingly is necessary.  
Look for the places which are shaded and  and also for areas which receive sunlight for the maximum time of the day. 
If you are planning for any sitting area on the terrace, determine its place. 
During summer, plants need to be protected from direct sunlight, for this you can make a shade. Select the place for this.
<br>
<br>
 
<li><b>SELECT THE PLANTS</b></li>
<br>
<%= image_tag('plants.jpg',alt: "img", id: "img") %>
<br>
<br>
This is a very interesting step to make a terrace garden. There are a variety of plants, but fiber rooted plants are recommended over deep rooted plants which require more depth of soil and hence more weight.
 Select plants according to the sun shade on your roof. Weak plants which require less sunlight must be placed in the shaded areas.
  While, plants which require a hefty amount of sunlight must be placed in non shaded areas. You can buy seeds of the required plants.
<br>
<br>

<li><b>WATER PROOFING</b></li>
<br>
<%= image_tag('waterproof.jpg',alt: "img", id: "img") %>
<br>
<br>
If at all you are planning to have a garden on your terrace, you need to have waterproofing done. 
Waterproofing can be easily done by application of waterproofing polymer coating on concrete slab/surface. 
But this coating is done on concrete. Once a waterproof polymer coating is done, home owners can plan for a small garden on terrace.
<br>
<br>

<li><b>PREPARING THE SOIL</b></li>
<br>
<%= image_tag('soil.jpg',alt: "img", id: "img") %>
<br>
<br>
The soil must be selected according to the plants you desire to grow. 
Basically arrange for a highly fertile right moisture and minerals containing soil . 
Check for soil's pH and have some portion of compost, vermicompost etc. and use this soil mix. 
<br>
<br>
<li><b>PLANT CONTAINERS OR POTS</b></li>
<br>
<%= image_tag('pots.jpg',alt: "img", id: "img") %>
<br>
<br>
    You can use a variety of pots for your garden. Use earthen pots, cement pots, grow bags or hanging pots coming in different shapes, sizes and colors to decorate the garden. 
Or you can use old paint boxes, wooden crates, broken buckets, kitchen utensils,coconut shells etc. to grow plants. 
<br>
<br>
<li><b>SEED</b></li>
<br>
<%= image_tag('seeds.jpg',alt: "img", id: "img") %>
<br>
<br>
      Now when you have purchased all the required plants and containers, you can assemble them and start gardening. Plant the seeds in the pots or lawn, and water them regularly.
       Also you can decorate your garden with lightweight furniture, to enjoy its calming atmosphere.
<br>
<br>     

<li><b> MANAGE PESTS </b></li>
<br>
<%= image_tag('pest.jpg',alt: "img", id: "img") %>
<br>
<br>
        Once your plants start to grow, you will have to start dealing with pests like ants, mealy bugs and aphids. 
        There are different ways to deal with them organically but not all of them work the way we like them to. You need to spend time trying various pest management solutions. 
        That can be the most exasperating part of managing your terrace garden.
        <br>
        <br>
       
<li><b>PROTECT YOUR PLANTS FROM BIRDS AND ANIMALS</b></li>
<br>
<%= image_tag('birds.jpg',alt: "img", id: "img") %>
<br>
<br>
Once your plants start to bear fruit, you need to cover it with wire mesh or nylon wires to prevent birds and other tiny creatures like squirrels and rats from enjoying them before you do.
</ol>
<br>
<br>
<b>CONCLUSION</b>
<br>
You can easily set up your terrace garden with these simple steps. It is advisable to start with a few plants and then increase the numbers according to your requirements. 
There are many professional services available which help in setting up a terrace garden. 
Terrace garden requires proper maintenance and care. You have to regularly water plants and protect them from pests and worms.


<br>
<br>
<h1>Queries</h1>
<br>
<br>
<ol>
<li><b>Where can we start Terrace Gardening?</b></li>
<br>
     Look for the places which are shaded and and also for areas which receive sunlight for the maximum time of the day. 
     If you are planning for any sitting area on the terrace, determine its place. During summer, plants need to be protected from direct sunlight, for this you can make a shade. 
<br>
<br>
<li><b>What should be done before using the roof as a terrace garden?</b></li>
<br>
    <h5>Waterproofing Layer </h5> 
          The first and most important step is to waterproof your roof to prevent any leakage. 
          The roof that you're planning to plant your greens should be waterproofed, frost-resistant, and durable. 
          Especially the areas where you'll be planting your greens and placing the pots.
<br>
<br>
<li><b>What can I plant in my garden?</b></li>
<br>
      <h5>Best Terrace gardening plants</h5> 
      <ul>
<li>Sunflowers</li>
<li>Lavender</li>
<li>Daylilies</li>
<li>Rose of Sharon</li>
<li>Montana Moss juniper</li>
<li>Donkey's Tail</li>
</ul>
Best Vegetables for your terrace garden would be - Tomato, carrots, onions, potato, radish, beetroot, capsicum, & chilies.
<br>
<br>
<li><b>What about the maintenance of these gardens? Will they consume a lot of time?</b></li>
<br>
<ul>
<li>Water the plants regularly but avoid watering in rains.</li>
<li>Check plants regularly for pests.</li>
<li>Fertilize vegetables with organic fertilizers for healthy growth.</li>
<li>Keep a gap between the containers so that you can water them easily.</li>
<li>Place your herbs and vegetables according to their resistance towards the sun.</li>
</ul>
<br>
<br>
<li><b>Do I need any agricultural knowledge to start a terrace garden?</b></li>
<br>
    You don't need any farming background to start a roof garden. 
    It only takes enthusiasm for green living and and willingness to get your hands dirty.
<br>
<br>
<li><b>Which plants work best in pots?</b></li>
<br>
Plants with shallow roots works best in pots.
<br>
<br>
<li><b>How much time will it take to begin a terrace garden?</b></li>
<br>
It can take as little as a week to set up and you can begin harvesting your greens in a months time.
<br>
<br>
</ol>
</div>

