

 <%# <%= image_tag('bg.webp',alt: "bg", id: "bg") %>
<%# <ul>
	<li class="bg-transparent"><a href="#Contacts">Blogs</a></li>
	<li>
	  <a href="/shop" class="dropbtn">Shop</a>
	  <div class="dropdown-content">
		<a href="#">Plants</a>
		<a href="#">Seeds</a>
		<a href="#">Pesticides</a>
		<a href="#">Flower Pots</a>
	  </div>
	  </li>
	<li class="bg-transparent"><a href="#Contacts">SocialWeb</a></li>
	<li class="bg-transparent"><a href="#Contacts">About</a></li>
	<li class="bg-transparent"><a href="#Contacts">Reviews</a></li>
</ul> %>

<%# 
<div class="src-bx">
<div class="search-box">
    <input type="text" class="search-txt" name="" placeholder="Search">
    <a href="#" class="search-btn">
        <span class="icon"><i class="fa fa-search"></i></span>
    </a>
  </div>
  </div> %>

  <%# <%= image_tag('user.png',alt: "user", id: "user") %>
	<%# <%= image_tag('cart.png',alt: "user", id: "cart") %> 

	<%# <div class="widget center">
  
		<div class="blur"></div>
		
		<div class="text center">
		  <p>LET'S KNOW ABOUT</p>
		  <h1> TERRACE GARDENING</h1>
		  <button id="ex">Explore me</button>
		</div>
	  
	  </div>



    
	 <div class="form-popup" id="myForm">
		<form action="index.html" class="form-container">
			<label for="show" class="close-btn" title="close" id="close-label" >&times;</label>
		  <h1>Login</h1>
	  
		  <label for="email"><b>Email</b></label>
		  <input type="text" placeholder="Enter Email" name="email" required>
	  
		  <label for="psw"><b>Password</b></label>
		  <input type="password" placeholder="Enter Password" name="psw" required>
		  <a href="#">Forgot Password?</a>
	  
		  <button type="submit" class="btn">Login</button>
		  <div class="link">Not a member?<a href="#">SignUp here</a></div>
		</form>
	  </div>
	  </div> %>

	  <%# <%= javascript_include_tag 'index' %>



		<b><p id="frstxt">We love helping</p></b>
		<b><p id="sectxt">you to save the</p></b>
		<b><p id="trdtxt">earth</p></b>
		<b><p id="bigtx">We help realize your dream in making a garden,let's start with small things that can change the world, so you can enjoy the fresh air forever	</p></b>

		<div class="frame">
		  <button class="customm-btn btnn-1">Read More</button>
		</div>

		<a href=""><i id="fcbk" class='bx bxl-facebook'></i></a>
		<a href=""><i id="inst" class='bx bxl-instagram'></i></a>
		<a href=""><i id="twitt" class='bx bxl-twitter'></i></a>

	<%= image_tag('bgim.png',alt: "bg", id: "hombg")%>

 
